body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
}

#box1:hover {
    background-color: purple;
}

#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation-duration: 3s;
    animation-name: box2move;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes box2move{
    from {
        top:15vw;
        left:0vw;
    }
    to {
        top: 0vw;
    left:15vw;}
}