body {
    background-color: cadetblue;
}

div {
    background-color:darkcyan;
    color:aliceblue;
    font-size: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5vw;
    margin: 2.5vw;
    border: white 5px solid;
}

.div-wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 900px) {
    body {
        background-color: blueviolet;
    }
    
    .div-wrapper {
        display: flex;
        flex-direction: column;
    }
    
    div {
        font-size: 2.5vw;
    }
}

