body {
    position:absolute;
    top: 10 px; /* distance from border*/
    right: 180px;
    background: url();
}

article { 
    top: 10px;
    right: 20px;
    transform: translate(50px);
}
/* absolute : references parent element from <div> 
only relative to article its in. fixed references the entire body of the document.

