body {
    height: 30px;
    padding: 10px;
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #cccc;
  }
   
  .card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  
  .card header {
    height: 3em;
    padding: 1em;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    border-radius: round 1.5em 1.5em 0 0;
  }
  
  .card footer {
    height: 3em;
    padding: 1em;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0), rgba(0, 0, 0,0.1));
    border-radius: round 0 0 1.5em 1.5em;
    text-align: center;
    line-height: 1.5em;
  }
  
  .card article img{
    max-height: 100%;
    float: right;
  }

  article {
    margin: 0;
    height: 12em;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  }

  article p {
    padding: 1em;
    color: white; 
  }

  footer p{
    font-size: 1.5em;
    line-height: 1.5em;
  }
  h2 {
    margin: 0;
    line-height: 1.5em;
    font-size: 2em;
  }

  p { 
    margin: 0;
    line-height: 1.5em;
  }
  
  .mycard {
    font-family:'Times New Roman', Times, serif;
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: rgb(39, 111, 58);
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  
  .mycard header {
    height: 3em;
    padding: 1em;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    border-radius: round 1.5em 1.5em 0 0;
  }
  
  .mycard footer {
    height: 3em;
    padding: 1em;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0), rgba(0, 0, 0,0.1));
    border-radius: round 0 0 1.5em 1.5em;
    text-align: center;
    line-height: 1.5em;
  }
  
  .mycard article img{
    max-height: 100%;
    float: right;
  }

  article {
    margin: 0;
    height: 12em;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  }

  article p {
    padding: 1em;
    color: white; 
  }

  footer p{
    font-size: 1.5em;
    line-height: 1.5em;
  }
  h2 {
    margin: 0;
    line-height: 1.5em;
    font-size: 2em;
  }

  p { 
    margin: 0;
    line-height: 1.5em;
  }
  




