.box {
    border: 2px dashed red;
}

.text { 
    border: 5px dashed blue;
    padding: 20px 30px 10px 50px;
    background-color: lightblue;
    margin: 20px;
}

/* ems and rems
/* view width and height 
/* percentages 